body
{
	background: #121212;
	margin: 0;
	font-family: "Calibri";
}

.square{

	width: 30%;
	background-color: cyan;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 13%;
	transition: background 0.4s;
}
#container{
	margin: 20px auto;
	max-width: 500px;
}
h1{
	padding: 20px 0;
	color: white;
	text-align: center;
	text-transform: uppercase;
	background : steelblue;
	margin: 0;
	font-weight: normal;
	line-height: 1.1;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;

}

.selected{
	color: white;
	background: steelblue;
}
#colorDisplay
{
	font-size: 200%;
}

button
{
	border: none;
	background: none;
	text-transform: uppercase;
	font-family: "Calibri";
	font-size: inherit;
	font-weight: bold;
	height: 100%;
	color: steelblue;
	letter-spacing: 0.9px;
	transition: all 0.2s;
}
button:hover
{
	color: white;
	background: steelblue;
}

#message
{
	display: inline-block;
	width: 20%;
	font-weight: bold;
}

